@import "tailwindcss";


@theme {
  --color-background: hsl(220 23% 5%);
  --color-foreground: hsl(210 25% 95%);
  --color-muted: hsl(220 12% 15%);
  --color-muted-foreground: hsl(220 12% 65%);
  --color-popover: hsl(220 23% 2%);
  --color-popover-foreground: hsl(0 0% 100%);
  --color-card: hsl(220 23% 3%);
  --color-card-foreground: hsl(0 0% 100%);
  --color-border: hsl(220 13% 10%);
  --color-input: hsl(220 13% 13%);
  --color-primary: hsl(210 25% 95%);
  --color-primary-foreground: hsl(210 25% 35%);
  --color-secondary: hsl(210 15% 25%);
  --color-secondary-foreground: hsl(210 15% 85%);
  --color-accent: hsl(220 23% 20%);
  --color-accent-foreground: hsl(220 23% 80%);
  --color-destructive: hsl(2 81% 55%);
  --color-destructive-foreground: hsl(0 0% 100%);
  --color-ring: hsl(210 25% 95%);
  --color-chart-1: hsl(210 25% 95%);
  --color-chart-2: hsl(210 15% 25%);
  --color-chart-3: hsl(220 23% 20%);
  --color-chart-4: hsl(210 15% 28%);
  --color-chart-5: hsl(210 28% 95%);

  --radius-base: 0.5rem;
}
